@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    color: black;
}

.ql-size-huge{
    font-size: xx-large;
}

.ql-size-small{
    font-size: small;
}

.ql-size-large{
    font-size: x-large;
}

a{
    color: #007bff;
    text-decoration: none;
}

ul{
    list-style-type: disc;
    margin-inline: 2rem;
}

ol{
    list-style-type: decimal;
    margin-inline: 2rem;
}